@using ProjetoDriptz.Enums
@model List<ProdutoModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary"
           role="button"
           asp-controller="Produto"
           asp-action="Criar">
            Adicionar Novo Produto
        </a>
    </div>

    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <h1>Lista de Produtos</h1>

    <table class="table table-striped align-middle" id="table-grid">
        <thead>
            <tr>
                <th scope="col">Imagem</th>
                <th scope="col">Produto</th>
                <th scope="col">Tipo</th>
                <th scope="col">Preço de Custo</th>
                <th scope="col">Preço</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (ProdutoModel produto in Model)
                {
                    <tr>
                        <!-- IMAGEM COM LINK -->
                        <td>
                            @if (!string.IsNullOrEmpty(produto.Imagem))
                            {
                                <a href="~/imagens/produtos/@produto.Imagem" target="_blank">
                                    <img src="~/imagens/produtos/@produto.Imagem"
                                         alt="Imagem do produto"
                                         style="width:50px;
                                        height:50px;
                                        object-fit:cover;
                                        border-radius:6px;
                                        box-shadow:0 2px 6px rgba(0,0,0,0.15);" />
                                </a>

                            }
                            else
                            {
                                <span class="text-muted">Sem imagem</span>
                            }
                </td>

                <td>@produto.NomeProduto</td>

                <td>
                    @(produto.Tipo == (int)TipoProduto.Camisa ? "Camisa"
                                        : produto.Tipo == (int)TipoProduto.BlusaDeFrio ? "Blusa de Frio"
                                        : produto.Tipo == (int)TipoProduto.Boné ? "Boné"
                                        : produto.Tipo == (int)TipoProduto.Bermuda ? "Bermuda"
                                        : "Indefinido")
                                                   </td>

                        <td>R$ @produto.PrecoCusto</td>

                        <td>R$ @produto.Preco</td>

                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary"
                                   asp-controller="Produto"
                                   asp-action="Editar"
                                   asp-route-id="@produto.Id">
                                    Editar
                                </a>

                                <a class="btn btn-danger"
                                   asp-controller="Produto"
                                   asp-action="ApagarConfirmacao"
                                   asp-route-id="@produto.Id">
                                    Apagar
                                </a>
                            </div>
                        </td>
                    </tr>
                        }
            }
        </tbody>
    </table>
</div>
